In [3]:
import pandas as pd

In [4]:
# Store filepath in a variable
data_file = "Resources/purchase_data.csv"

In [5]:
# Read our Data file with the pandas library
data_file_df = pd.read_csv(data_file)

In [6]:
data_file_df.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [7]:
# *** PLAYER COUNT  ***

df_pyCount = pd.DataFrame([{"Total Players": len(data_file_df["SN"].unique())}])

df_pyCount

   Total Players
0            576

In [8]:
# *** PURCHASING ANALYSIS (Total)  ***

# Number of Unique Items
items_unique=len(data_file_df["Item ID"].unique())

# Average Purchase Price
ave_price=data_file_df["Price"].mean()

# Total Number of Purchases
purchases_cnt=data_file_df["Purchase ID"].count()

# Total Revenue
revenue_total=data_file_df["Price"].sum()

# Put together in a dataframe
purch_summary=pd.DataFrame([{"Number of Unique Items": items_unique, 
                             "Average Price": f"${round(ave_price,2)}", 
                             "Number of Purchases": purchases_cnt, 
                             "Total Revenue": f"${revenue_total}"}])

purch_summary

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780      $2379.77

In [9]:
# *** GENDER DEMOGRAPHICS  ***

# Count of players by unique SN
players_per_uniqueSN= data_file_df[["SN","Gender","Age"]].drop_duplicates()

# Count players by gender
gender_breakdown=players_per_uniqueSN["Gender"].value_counts()

# Percentage over total unique count of players
gender_ratio=gender_breakdown/len(players_per_uniqueSN)

# Put together in a dataframe
gender_df=pd.DataFrame({"Total Count":gender_breakdown,
                        "Percentage of Players": gender_ratio.map("{:.2%}".format)})

gender_df

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

In [89]:
# *** PURCHASING ANALYSIS (Gender)  ***

# group and count by gender 
grouped_by_gender=data_file_df.groupby(['Gender'])
purchase_cnt= grouped_by_gender['SN'].count()

# Average purchase price
ave_purch_price=grouped_by_gender['Price'].mean()

# Sum of purchases by gender
total_purch_value=grouped_by_gender['Price'].sum()

# Average purchase made per person, by gender            
ave_purch_person = total_purch_value/gender_breakdown

# Add summary to data frame
purch_count_summary=pd.DataFrame({"Purchase Count": purchase_cnt, 
                                  "Average Purchase Price": ave_purch_price.map("${0:,.2f}".format),
                                  "Total Purchase Value": total_purch_value.map("${0:,.2f}".format),
                                  "Avg Total Purchase per Person": ave_purch_person.map("${0:,.2f}".format)})

purch_count_summary

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [37]:
# *** AGE DEMOGRAPHICS  ***

# Get the highest age ====> 45
#data_file_df['Age'].max()

# Bins for ages
bins = [0, 9, 14, 19, 24, 29, 34, 39, 50]

# Labels for the bins 
group_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Categorize the existing players using the age bins 
players_per_uniqueSN["Age Group"]=pd.cut(players_per_uniqueSN["Age"], bins, labels=group_labels)

# Number of players by age group
by_ageGrp=players_per_uniqueSN.groupby(['Age Group'])
age_grp_cnt = by_ageGrp["Age Group"].count()

# Percentage of players by age group
age_grp_percent=age_grp_cnt/len(players_per_uniqueSN)

# add summary to data frame
age_grp_df=pd.DataFrame({"Age Group": age_grp_cnt, 
                         "Percentage of Players": age_grp_percent.map("{:.2%}".format)})

age_grp_df

           Age Group Percentage of Players
Age Group
<10               17                 2.95%
10-14             22                 3.82%
15-19            107                18.58%
20-24            258                44.79%
25-29             77                13.37%
30-34             52                 9.03%
35-39             31                 5.38%
40+               12                 2.08%

In [88]:
# *** PURCHASING ANALYSIS (Age)  ***

# Bin the purchase_data data frame by age
data_file_df["Age Group"]=pd.cut(data_file_df["Age"], bins, labels=group_labels)

# Purchase count by age group 
purch_by_ageGrp=data_file_df.groupby(['Age Group'])
purch_cnt_ageGrp= purch_by_ageGrp['Purchase ID'].count()

# Average purchase price by age group
purch_ave_ageGrp=purch_by_ageGrp['Price'].mean()

# Total purchase value by age group
purch_sum_ageGrp=purch_by_ageGrp['Price'].sum()

# Average total purchase made per person, by age group         
ave_purch_person = purch_sum_ageGrp/age_grp_cnt

purch_summary_byAgeGrp=pd.DataFrame({"Purchase Count": purch_cnt_ageGrp, 
                                  "Average Purchase Price": purch_ave_ageGrp.map("${0:,.2f}".format),
                                  "Total Purchase Value": purch_sum_ageGrp.map("${0:,.2f}".format),
                                  "Avg Total Purchase per Person": ave_purch_person.map("${0:,.2f}".format)})

purch_summary_byAgeGrp

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Group,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

In [125]:
# *** TOP SPENDERS  ***

# group dataframe by SN
grouped_by_SN=data_file_df.groupby(['SN'])
purch_cnt_bySN= grouped_by_SN['Purchase ID'].count()

# Average purchase price by SN
ave_purch_bySN=grouped_by_SN['Price'].mean()

# Sum of purchases by SN
total_purch_bySN=grouped_by_SN['Price'].sum()

spending_summary=pd.DataFrame({"Purchase Count": purch_cnt_bySN, 
                                  "Average Purchase Price": ave_purch_bySN.map("${0:,.2f}".format),
                                  "Total Purchase Value": total_purch_bySN})

#Sort descending
top_spenders=spending_summary.sort_values("Total Purchase Value", ascending=False)

#Format Total Purchase Value
top_spenders["Total Purchase Value"] = top_spenders["Total Purchase Value"].map(
    "${0:,.2f}".format)

top_spenders.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

In [126]:
# *** MOST POPULAR ITEMS  ***

# Retrieve the Item ID, Item Name, and Item Price columns
# Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value
# Create a summary data frame to hold the results
# Sort the purchase count column in descending order
# Optional: give the displayed data cleaner formatting
# Display a preview of the summary data frame

# group dataframe by Item ID and Item Name
by_item_df=data_file_df[['Item ID', 'Item Name', 'Price','Purchase ID']]
grouped_by_item=by_item_df.groupby(['Item ID','Item Name'])
purch_cnt_byItem= grouped_by_item['Purchase ID'].count()

# retrieve item price
price_item=grouped_by_item['Price'].mean()

# Sum of purchases by Item
total_purch_byItem=grouped_by_item['Price'].sum()

items_summary=pd.DataFrame({"Purchase Count": purch_cnt_byItem,
                            "Item Price": price_item.map("${0:,.2f}".format),
                            "Total Purchase Value": total_purch_byItem})

#Sort descending
items_summary_desc=items_summary.sort_values(["Purchase Count"], ascending=False)

#Format Total Purchase Value
items_summary_desc["Total Purchase Value"] = items_summary_desc["Total Purchase Value"].map(
    "${0:,.2f}".format)

items_summary_desc.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

In [130]:
# *** MOST PROFITABLE ITEMS  ***

items_most_profit=items_summary.sort_values(["Total Purchase Value"], ascending=False)

#Format Total Purchase Value
items_most_profit["Total Purchase Value"] = items_most_profit["Total Purchase Value"].map(
    "${0:,.2f}".format)

items_most_profit.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80