In [8]:
import pandas as pd

In [9]:
# Store filepath in a variable
data_file = "Resources/purchase_data.csv"

In [10]:
# Read our Data file with the pandas library
#data_file_df = pd.read_csv(data_file, encoding="ISO-8859-1")
data_file_df = pd.read_csv(data_file)

In [16]:
data_file_df.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [87]:
#Total number of players
df_pyCount = pd.DataFrame([{"Total Players": len(data_file_df["SN"].unique())}])
df_pyCount

   Total Players
0            576

In [113]:
### Purchasing Analysis (Total)

# Number of Unique Items
items_unique=len(data_file_df["Item ID"].unique())

# Average Purchase Price
ave_price=data_file_df["Price"].mean()

# Total Number of Purchases
purchases_cnt=data_file_df["Purchase ID"].count()

# Total Revenue
revenue_total=data_file_df["Price"].sum()

#Put together in a dataframe
purch_summary=pd.DataFrame([{"Number of Unique Items": items_unique, 
                             "Average Price": ave_price, 
                             "Number of Purchases": purchases_cnt, 
                             "Total Revenue": revenue_total}])

purch_summary["Average Price"] = purch_summary["Average Price"].map(
    "${0:,.2f}".format)
purch_summary["Total Revenue"] = purch_summary["Total Revenue"].map(
    "${0:,.2f}".format)
purch_summary

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

In [117]:
#Gender Demographics
# Percentage and Count of Male Players
# Percentage and Count of Female Players
# Percentage and Count of Other / Non-Disclosed

gender_breakdown = data_file_df["Gender"].value_counts()
gender_ratio = data_file_df["Gender"].value_counts()
gender_breakdown

KeyError: 'Gender'

In [12]:
data_file_df.describe()

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   92.114103    3.050987
std     225.310896    6.659444   52.775943    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   48.000000    1.980000
50%     389.500000   22.000000   93.000000    3.150000
75%     584.250000   25.000000  139.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

In [13]:
data_file_df.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

In [114]:
unique_items=data_file_df["Item ID"].unique()